<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/../stylesheets/style.css' />
    <script src="/../javascripts/main.js" defer></script>
  </head>
  <body>
    <h1><a href="/"><%= title %></a></h1>
    <% if (user) { %>
      <p>Welcome <%= user.name %></p>
      <a href="/logout">Log Out</a>
    <% } else { %>
      <a href="/auth/google">Login with Google</a>
    <% } %>


   