<%- include('./partials/header') %>
<main>
  
<a href="/sets/new">Add New Set</a>


<% if (true) { %>
  <ul>
  <% sets.forEach(set => { %>
    <li>
      <a href="/sets/<%= set._id %>"><%= set.title %></a>
    </li>
  <% }) %>
  </ul>
<% } %>

</main>
<%- include('./partials/footer') %>