<%- include('../partials/header') %>
<main>
  <form action="/sets" method="post" class="new-set-form">
    <label data-tooltip="Sets have themes. The more specific they are the less useful they'll be to others. But that's okay. Sometimes you have to do something for yourself. But if you do make a theme generalized, you may inspire someone else to make something unique.">
      <input type="text" name="title" >
      <input type="submit" value="New Set">
    </label>  
  </form>
</main>
<%- include('../partials/footer') %>