<%- include('../partials/header') %>
<main>
  <form action="/sets" method="post" class="new-set-form">
    <label>
      <input type="text" name="title">
      <input type="submit" value="New Set">
    </label>  
  </form>
</main>
<%- include('../partials/footer') %>