/* @import "bulma.css"; */

html {
  background-color: #E5E1D9;
  background-image: url('../images/seamless_paper_texture.png');
}

body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  color: rgb(3, 5, 12);
}

a {
  color: #c65d24;
}

nav ul {
  display: flex;
}

.misc-nav {
  display: flex;
  justify-content: flex-start;
  align-self: flex-start;
}

.misc-nav li {
  margin-right: 1em;
}

.login {
  margin-left: auto;
}

nav li {
  list-style-type: none;
}