:root {
  --blue: #2E3192;
  --light-blue: #5160a2;
  --black: #23201F;
  --white: #DCDFE2;
  --neutral: #b1c3c9;
  --nav-border: #c65d24;
  --nav-bg: #d8ab6f;
  --delete: rgb(138, 50, 56);
}

html {
  background-color: var(--white);
  background-image: url('../images/seamless_paper_texture.png');
}

ul {
  padding: 0;
}

body {
  font-size: 16px;
  font-family: 'Work Sans', sans-serif;
  color: var(--black);
}

.logo {
  margin: 0 auto;
  text-align: center;
}

ul li {
  list-style-type: none;
}

.add-set {
  border: 1px solid var(--nav-border);
  border-radius: 20px;
  background-color: var(--nav-bg);
  padding: 4px 7px;
  text-decoration: none;
  color: var(--light-blue);
}

.add-set:hover {
  color: #792d04;
  background-color: #d3a58c;
}

.login {
  position: absolute;
  right: 1em;
  top: 1em;
}

nav li {
  list-style-type: none;
}

h1 {
  color: var(--blue);
}

main {
  display: flex;
  align-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

#list {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#list li {
  margin: 1em 0;
  text-align: center;
}

.fl {
  color: var(--blue);
}

#collabritoriate {
  background-color: var(--blue);
  background-image: url('/../images/just-image.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
  font-size: 3em;
  outline: none;
  border: 3px solid rgb(24, 28, 153);
  border-radius: 20px;
  color: var(--white);
  height: 200px;
  width: 50%;
}

#collabritoriate:active {
  outline: none;
}

#collabritoriate:hover {
  background-color: var(--light-blue);
}

.set-item {
  display: flex;
  flex-flow: row;
  align-items: baseline;
}

.set-item a {
  border: 1px solid var(--nav-border);
  border-radius: 3px;
  background-color: var(--nav-bg);
  padding: 7px 20px;
  text-decoration: none;
  margin: 6px;
  color: var(--light-blue);
}

.set-item a:hover {
  color: #792d04;
  background-color: #d3a58c;
}

.set-item input {
  color: var(--blue);
  background-color: var(--white);
  border-radius: 10px;
}

#entry-list {
  display: flex;
  flex-wrap: wrap;
}

.entry {
  padding: 4px 10px 4px 10px;
  border-radius: 4px;
  text-align: center;
  margin: 8px;
  width: 260px;
  flex-grow: 1;
  background-color: var(--white);
}

.inst-ent {
  border: 1px dotted var(--delete);
}

.inst-ent h3 {
  color: var(--delete);
}

.fx-ent {
  border: 1px dotted var(--light-blue);
}

.fx-ent h3 {
  color: var(--light-blue);
}

.role-ent {
  border: 1px dotted var(--nav-border);
}

.role-ent h3 {
  color: var(--nav-border);
}

.uni-ent {
  border: 1px dotted var(--nav-bg);
}

.uni-ent  {
  color: var(--nav-bg);
}

.entry p {
  color: var(--black);
}

.entry p::first-letter{
  color: var(--blue);
}

.user-entry-options {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.delete-btn {
  border: 1px solid rgb(176, 48, 48);
  border-radius: 50px;
  color: #d2baad;
  background-color: var(--delete);
}

.delete-btn:hover {
  background-color: rgb(106, 19, 25);
  color: var(--white);
  cursor: pointer;
}

.edit-btn {
  border: 1px solid var(--nav-border);
  border-radius: 3px;
  background-color: var(--nav-bg);
  padding: 0px 7px;
  text-decoration: none;
  color: var(--black);
}

.edit-btn:hover {
  color: #792d04;
  background-color: #d3a58c95;
}

.new-set-form {
  padding: 5px;  
}

input[type="text" i] {
  padding: 5px;
  color: rgb(24, 48, 165);
  font-weight: bold;
  border: 2px solid rgb(24, 48, 165);
  border-radius: 6px;
}

input[type="submit" i] {
  color:rgb(24, 48, 165);
  background-color: rgb(174, 187, 203);
  border-radius: 10px;
}

.menu {
  margin-bottom: 20px;
}

/* TOOL TIP LOGIC */
[data-tooltip] {
  position: relative;
  z-index: 2;
  cursor: pointer;
}

/* Hide the tooltip content by default */
[data-tooltip]:before,
[data-tooltip]:after {
  visibility: hidden;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  pointer-events: none;
}

/* Position tooltip above the element */
[data-tooltip]:before {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-bottom: 5px;
  margin-left: -80px;
  padding: 7px;
  width: 160px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #000;
  background-color: hsla(0, 0%, 20%, 0.9);
  color: #fff;
  content: attr(data-tooltip);
  text-align: center;
  font-size: 14px;
  line-height: 1.2;
}

/* Triangle hack to make tooltip look like a speech bubble */
[data-tooltip]:after {
  position: absolute;
  bottom: 150%;
  left: 50%;
  margin-left: -5px;
  width: 0;
  border-top: 5px solid #000;
  border-top: 5px solid hsla(0, 0%, 20%, 0.9);
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: " ";
  font-size: 0;
  line-height: 0;
}

/* Show tooltip content on hover */
[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  visibility: visible;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: progid: DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}